<div class="searchbar">

            <app-sidebaricon [sidebaricon]="searchBarProperty"></app-sidebaricon>
    <i>A</i>
    <i>B</i>
    <i>C</i>
    <i>D</i>

</div>


<!-- <p>
    <mat-toolbar>


        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer">
            <div class="banner">
                Hello
            </div>
        </span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</p> -->