
  <div class="container-fluid" style="background-color: transparent;">

    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let planet of planets">
        <div class="it-tile">
          <div class="wrapper">
            <div class="it-header">Event Title</div>

            <div class="banner-img ">
              <img class="resize" src="../../../assets/images/planets/{{getRandomInt()}}.jpg" alt="Image 1">
            </div>

            <div class="it-dates">
              <div class="it-start">
                <strong>STARTS</strong> 12:30 JAN 2015
                <span></span>
              </div>
              <div class="it-ends">
                <strong>ENDS</strong> 14:30 JAN 2015
              </div>
            </div>

            <div class="it-stats">

              <div>
                <strong>INVITED</strong> 3098
              </div>

              <div>
                <strong>JOINED</strong> 562
              </div>

              <div>
                <strong>DECLINED</strong> 182
              </div>

            </div>

            <div class="it-stats">

              <div>
                <strong>INVITED</strong> 3098
              </div>

              <div>
                <strong>JOINED</strong> 562
              </div>

              <div>
                <strong>DECLINED</strong> 182
              </div>

            </div>

            <div class="it-stats">

              <div>
                <strong>INVITED</strong> 3098
              </div>

              <div>
                <strong>JOINED</strong> 562
              </div>

              <div>
                <strong>DECLINED</strong> 182
              </div>

            </div>

            <div class="footer">
              <a href="#" class="Cbtn Cbtn-primary">View</a>
              <a href="#" class="Cbtn Cbtn-danger">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




<!-- <div class="container">
    <div class="row">
      <ng-container *ngFor="let system of starsystems">
        <div>
          <h1>{{system.Name}}</h1>
        </div>
        
        <div class="im-card">  
          <div class="im-card-image"></div>
          <div class="im-card-text"></div>
          <div class="im-card-stats"></div>
        </div>
      </ng-container>
    </div>
  </div> -->



<!-- <div class="container">
      <div class="row">
        <div>
          <h1>{{system.Name}}</h1>
        </div>
        <div class="page-body" *ngFor="let planet of system.exoplanets">

          <div class="im-card">
            <div class="im-card-image"></div>
            <div class="im-card-text">
              <ul class="">
                <li class=""><span>pl orbper: </span>{{planet.pl_orbper}}</li>
                <li class=""><span>pl bmassj: </span>{{planet.pl_bmassj}}</li>
              </ul>
            </div>
            <div class="im-card-stats"></div>
          </div>
        </div>
      </div>
    </div> -->





<!-- <div class="card"> -->
<!-- <img src="../../../assets/images/planets/{{getRandomInt()}}.jpg"  class="img-thumbnail" alt="..."> -->
<!-- <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div> -->

<!-- <div class="card-body"> -->
<!-- <a href="#" class="card-link">Card link</a> -->
<!-- <a href="#" class="card-link">Another link</a> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->



<!-- (click)="openGameDetails(game.id)" -->
<!-- <div class="game">
            <div class="game-thumb-container">

                <img  src="https://media2.cgtrader.com/variants/1gggsj4ct8bNJSABvq4HbMoH/e44aa6a6359827c9089792cde0c079681b83d3b5c3037cc0525c25607e54355b/8986a427-35d1-46a0-bb7b-6a46df454f48.jpg" alt="thumbnail"class="game-thumbnail" />  -->


<!-- <p>No image</p> -->
<!-- </div> -->
<!-- <div class="game-description"> -->
<!-- <p class="game-name"></p> -->
<!-- <div class="game-platforms"> -->
<!-- <p>{{system.Name}}</p> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="d-flex"> -->
<!-- Card -->
<!-- <mdb-card -->
<!-- style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')" -->
<!-- class="card-image mb-3 mx-2" -->
<!-- Content -->
<!-- <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4"> -->
<!-- <div> -->
<!-- <h5 class="pink-text"> -->
<!-- <mdb-icon fas icon="chart-pie"></mdb-icon> -->
<!-- Marketing -->
<!-- </h5> -->
<!-- <h3 class="card-title pt-2"><strong>This is card title</strong></h3> -->
<!-- <p> -->
<!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, -->
<!-- voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla -->
<!-- ipsum dignissimos. Odit sed qui, dolorum!. -->
<!-- </p> -->
<!-- <a mdbBtn color="pink" class="waves-light" mdbWavesEffect> -->
<!-- <mdb-icon far icon="clone" class="left"></mdb-icon> -->
<!-- View project</a -->
<!-- > -->
<!-- </div> -->
<!-- </div> -->
<!-- Content -->
<!-- </mdb-card> -->
<!-- Card -->

<!-- Card -->
<!-- <mdb-card -->
<!-- style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg')" -->
<!-- class="card-image mb-3 mx-2" -->
<!-- > -->
<!-- Content -->
<!-- <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4"> -->
<!-- <div> -->
<!-- <h5 class="orange-text"> -->
<!-- <mdb-icon fas icon="desktop"></mdb-icon> -->
<!-- Software -->
<!-- </h5> -->
<!-- <h3 class="card-title pt-2"><strong>This is card title</strong></h3> -->
<!-- <p> -->
<!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, -->
<!-- voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla -->
<!-- ipsum dignissimos. Odit sed qui, dolorum!. -->
<!-- </p> -->
<!-- <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect> -->
<!-- <mdb-icon far icon="clone" class="left"></mdb-icon> -->
<!-- View project</a -->
<!-- > -->
<!-- </div> -->
<!-- </div> -->
<!-- Content -->
<!-- </mdb-card> -->
<!-- Card -->
<!-- </div> -->